# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

dist

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# Logs
logs
*.log
npm-debug.log*

# OSX
# =========================

.DS_Store

# Thumbnails
._*